table, th, td {
  border-style: dotted;
}

td {
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 24px;
}

h1 {
  text-align:center;
  color:red;
  text-decoration:underline;
}

#content {
  width:100%;
  height:100%;
}

#tabla {
  margin: 0 auto; /* or margin: 0 auto 0 auto */
}